.currency-block {
  display: flex;
  gap: 5px;

  list-style: none;

  margin: 5px 0;
  padding: 0;
}

.currency-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: fit-content;
}
