.loading {
  position: fixed;

  background-color: black;
  opacity: 50%;
  z-index: 999;

  font-size: 100pt;
  font-weight: bold;

  display: flex;
  justify-content: center;
  align-items: center;

  color: red;

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.loading p {
  opacity: none;
}
